# Optional configuration
variable "server" {
  type        = map(any)
  description = "Server configuration map"
  default = {
    name        = "{{server_name}}"
    flavor = "{{server_flavor}}"
    # See https://www.bw-cloud.org/de/bwcloud_scope/images
    image       = "Ubuntu 20.04"
    user = "deploy_user"
  }
}



variable "docker_compose_version" {
  type        = string
  description = "Docker compose version to install"
  default     =  "2.20.0"
} 


variable "ssh_key_path"{
  type = string
  default = "{{ssh_key_path}}"
}







